PRZEDMIOT {

    display: table;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
    width:  300px;
    border:dotted 2px;
    border-color:  brown;
    font-size: medium;
}
nazwa{
    display: table-cell;
    margin-left: 10px;
    margin-top: 5px;
    width: 130px;
    
}
rodzaj{
    display: table-cell;
    margin-left: 10px;
    margin-top: 5px;
    border:dotted 1px;
}
tydizeń{
    display: table-cell;
    margin-left: 10px;
    margin-top: 5px;
}